body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

.header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 20px;
    width: 80%;
    margin: auto;
}

h2 {
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
}

.news-item {
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.news-item img {
    border: 3px solid black;
    display: block;
    margin-bottom: 10px;
}

h3 {
    color: darkred;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}
